.img{
    padding-left: 50px;
    padding-top: 10px ;
    
}

body{
    background-color: rgb(78, 63, 216);
    background-image: url(../img/bg-desktop.svg);
}

.mk{
    padding-left: 50px;
}

h1{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';
    color: white;
}

.pp{
    float: right;
    padding-right: 30px;
}

p{
    font-size: 20px;
    color: white;
}

.b{
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    color: rgb(78, 63, 216);
    width: 250px;
    font-size: 18px;
    cursor: pointer;
}

.b:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(78, 63, 216); 
}

.last{
    text-align: end;
    color: white;
    font-size: 20px;
}
